/* global setting */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kenia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--main-text-color);
}

a {
    cursor: pointer !important;
    text-decoration: none;
    color: var(--main-text-color);
}

/* variables */
:root { --main-bg-color: rgb(23, 21, 21); --secondary-bg-color: rgb(35, 35, 35); --main-text-color: rgb(255, 255, 255); --bottons-border-color: #ff7300; --icons-color: #64f5f5; --card-color:rgb(119, 116, 116); --logo-font-family: Agbalumo, Kenia; --main-font-famiy: Arial, Helvetica, sans-serif; --main-section-color: rgb(106, 95, 95); --card-text-color: rgb(252, 252, 252);

}

body {
    background-color: var(--main-bg-color);
}

nav {
    background-color: var(--bottons-border-color);
    border-radius: 3rem;
    width: 90%;
    margin-bottom: 12rem;
    position: fixed;
    z-index: 10;
    padding: .7rem 1rem 0;
   
}
nav i {
    font-size: 1.2rem;
    position: relative;
    bottom: -0.1rem;
}
.header__nav__ul li a {
    color: var(--main-text-color);
}

.header__nav__ul li a:hover {
    border-bottom: solid 2px var(--icons-color);
}

.header__nav__ul li .list-item-active {
    color: var(--icons-color);
}

.logo {
    background-color: var(--main-text-color);
    border-radius: 3rem;
    position: relative;
   
    bottom: .2rem;
    padding: .2rem 1rem;
    font-family: var(--logo-font-family);
    color: var(--bottons-border-color);
    font-size: 1.2rem;
}

.header__hero-section {
    min-height: 90vh;
    max-height: fit-content;
    border-radius: 5rem;
}

.header__hero-section__img {
    border-bottom: solid .2rem var(--bottons-border-color);
    
}

.header__hero-section__img:hover {
    border-bottom: solid .2rem var(--main-bg-color);
}

.header__hero-section__img::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bottons-border-color);
    z-index: -2;
    transition: 1s;
}

.header__hero-section__img:hover::before {
    border-radius: 1rem;
    width: 100%;
}

.header__hero-section__info__img {

    width: 2rem;
    height: 2rem;
}

.header__hero-section__info__img:hover {
    background: var(--bottons-border-color);
    border: 1px solid var(--bottons-border-color);
    border-radius: 50%;
}

.hero_section_btns {
    width: 50
}

.hero_section_btns a {
    width: 5rem;
    padding: .3rem;
    text-align: center;
    position: relative;
    border: solid 2px var(--bottons-border-color);
    border-radius: .5rem;

}

.hero_section_btns a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bottons-border-color);
    z-index: -2;
    transition: 1s;
}

.hero_section_btns a:hover::before {
    width: 100%;
}

.header__hero-section__info__icons i {
    font-size: 1.7rem;
    padding: .2rem;
    text-shadow: 1px 1px 1px black;
    color: var(--icons-color);
    transition: 1s;
}

.header__hero-section__info__icons i:hover {
    color: var(--main-bg-color);
    transform: scale(1.2);
    color: var(--bottons-border-color);
    border: solid 2px var(--bottons-border-color);
    transform: rotate(360deg);
    border-radius: 50%;
}

section {

    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem var(--main-text-color);
    background-color: var(--secondary-bg-color);
    min-height: fit-content;

}

.card-title {
    color: var(--bottons-border-color);
}

i.card-icons {
    font-size: 5rem;
    color: var(--icons-color);
}

.services-card {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--icons-color);
    transition: 3s;
    animation: card 2s linear 3s 1 normal running;
}

.services-card:hover {
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--icons-color);
    border-radius: 4rem;
}

.hobbies-card {
    width: 18rem;
    height: 13rem;
    box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem var(--icons-color);
    overflow: hidden;
    transition: 2s;
    transform: skew(-7deg);
}

.hobbies-card:hover {
    height: 30rem;
    transform: skew(0deg);
    box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem var(--bottons-border-color);
}

.hobbies-card img{


    height: 18rem !important;

}


.card{
    background-color: var(--card-color);
}
.card-text{
    color: var(--card-text-color);
}
 .nav-sm{
    position: relative;
    color: var(--bottons-border-color);
    /* border: 1px solid var(--bottons-border-color) !important; */
    border-radius: 50%;
    padding: 0.3rem;
    transition: 2s;
    
}
 .nav-sm:hover{
   background-color: var(--bottons-border-color);
   color: var(--main-text-color);
}
.nav-sm1{
    right: 6rem;
    top: -1rem;
}
.nav-sm2{
    right: 9.6rem;
    top: 1.1rem;
}
.nav-sm3{
    right: 11.8rem;
    top: 2.8rem;
}
.nav-sm4{
    right: 13.1rem;
    top: 3.3rem;
}
.nav-sm5{
    right: 14.5rem;
    top: 2.8rem;
}
.nav-sm6{
    right: 16.6rem;
    top: 1.7rem;
}


.skills-section .even-icon {
    color: var(--icons-color);
    transition: 2s;
    animation: skills-icon 4s infinite 2s linear normal running;
}

.skills-section .e-icon {
    color: var(--icons-color);
    transition: 2s;
    animation: skills-icon2 4s infinite 2s linear normal running;
}

@keyframes skills-icon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
        color: var(--main-text-color);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes skills-icon2 {
    0% {
        color: var(--main-text-color);
        transform: scale(2);
    }

    100% {}

    50% {
        transform: scale(1);
    }

    100% {
        color: var(--main-text-color);
        transform: scale(2);
    }
}
